<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>University data</title>
  </head>
  <body>
    <h1>Users, Students, Courses and Enrollments</h1>
 </body>
</html>